.container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 120px;
}
.div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 1rem;
    left: 40px;
    border-radius: 8px;
    padding: 1.5rem;
    background-color: #33333370;
}
.cardContainer{
    margin-left: 4rem;
}
.select {
    border: none;
    background: #333333;
    color: #01F603;
    transition: 0.5s;
}
.row {
    display: flex;
    flex-direction: column;
}
.titleColor {
    color: #01F603;
}
.btn {
    padding: 4px;
    background-color: #01f60470;
    margin-top: 10px;
    margin-right: 17px;
    border-radius: 4px;
    color: #fff;
    transition: 0.5s;
}
.btn:hover {
    color: #000;
    background-color: #ffffff90;
    letter-spacing: 1px;
}
.title {
    color: #01F603;
}
.brandss{
    display: inline-grid;
    justify-content: center;   
    margin: 5px;
    padding: 2px;  
    border-radius: 9px;
    width: auto;
    height: auto;
    
  }
  .brandss2{
    display: inline-grid;
    grid: auto / auto auto;
    justify-content: center;   
    margin: 5px;
    padding: 2px;  
    border-radius: 9px;
    width: auto;
    height: auto;
    
  }
.brands2{
    display: flex;
    align-items: center;
    border: none;
    background: #333333;
    color: #01F603;
    transition: 0.5s;
    margin: 5px;  
    width: auto;
    height: auto;
    justify-content: space-between;
    
  }
.botnX {
    cursor: pointer;
    background-color: #c5181830;
    border: transparent;
    color: black;
    border-radius: 5px;
    margin-left: 10px;
}
.botnX:hover {
    background-color: red;
    border-radius: 7px;
}
.filtersResponsive {
    display: none;
}

@media only screen and (max-width: 1350px) {
    .container {
        margin-left: 0;
    }
    .cardContainer {
        margin: 0;
    }
    .div {
        display: none
    }
    .filtersResponsive {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media only screen and (max-width: 850px) {
    .filtersResponsive {
        /* width: 100%; */
        flex-wrap: flex;
        justify-content: center;
        align-items: center;
    }
}