.container{
    background-color: #464646;

}
.wrapper{ 
    margin:  0 8rem 0rem 8rem;    
    padding-top: 4rem;
    background-color: #808080;
    border-radius: 0.5rem;
    


}
.title{
    padding: 1rem;
    text-align: center;
    font-size: 40px;
    margin:  0  0 4rem 0;
    font-weight: 400;
    font-family: 'Share Tech', sans-serif;
    border-bottom: 5px solid #464646;
    

}
.cardgrid{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1rem;
    font-family: 'Share Tech', sans-serif;
    
    
}