.bgfooter {
    background-color: #1b1b1b;
    padding: 30px 30px 50px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    font-family: 'Share Tech', sans-serif !important;
    color: #d3d3d3 !important;
    font-size: 17px !important;
    text-decoration: none !important;
}

.divAlign {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.textTitleFooter2:hover {
    text-decoration: underline;
}

a.textTitleFooter2.active {
    background-color: transparent;
}

.iconsSize {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px;
    font-size: 20px;
    color: #d3d3d3;
}

.contactUs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.inputSubmit {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
}

.inputBox {
    background-color: #333333;
    border-radius: 5px;
    padding: 3px 7px;
    outline: none;
    font-family: 'Share Tech', sans-serif;
    color: #d3d3d3;
}

.inputbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 70px;
    height: 30px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 4px;
    background-color: greenyellow;
    color: #000000;
}

.textTitleFooter2:hover {
    text-decoration: underline;
}

a.textTitleFooter2.active {
    background-color: transparent;
}

@media only screen and (max-width: 800px) {
    .contact {
        display: none;
    }

    .bgfooter {
        font-size: 13px !important;
    }
}

@media only screen and (max-width: 480px) {
    .bgfooter {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        font-size: 16px !important;
    }

    .divAlign {
        margin-bottom: 50px;
    }
}

.textTitleFooter3 {
    font-size: 1.5rem;
    color: #01F603;
}