.searchbarGeneralContainer {
    position: absolute;
    top: 38px;
    left: 150px;
    max-height: 200px;
    width: 289px;
    background-color: #181A1B;
    color: #ACACAC;
    border-radius: 3px;
    font-family: 'Share Tech', sans-serif;
    z-index: 5;
}
.searchbarContainer {
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 289px;
    padding: 5px 0;
    background-color: #181A1B;
    border-radius: 3px;
}
.searchbarContainer button {
    width: 32px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01F603;
    color: rgb(212, 0, 255);
    border-radius: 3px;
}
.searchbarContainer img {
    width: 18px !important;
}
.searchbarContainer input {
    padding-left: 30px;
    width: 250px;
    background-color: #181A1B;
    color: #ACACAC;
}
.searchbarContainer input:focus {
    outline: none;
}
.searchbarContainer input::placeholder {
    color: #ACACAC;
    font-family: 'Share Tech', sans-serif;
}
.productsBox {
    padding: 0 8px;
    max-height: 152px;
    overflow: auto;
}
.productsBox li {
    margin: 3px;
    padding: 3px;
    list-style: none;
    border-radius: 4px;
}
.productsBox li:hover {
    background: #131313df
}

@media only screen and (max-width: 650px) {
    .searchbarGeneralContainer {
        left: 5%;
        right: 20px;
    }
}
@media only screen and (max-width: 440px) {
    .searchbarGeneralContainer {
        display: none;
    }
}