.slideContainer {
    width: 100vw;
}
.swiperContainer {
    background-color: #333333;
    width: 100vw;
}
.title {
    margin: 80px 20px 10px;
    font-size: 30px;
    font-family: 'Share Tech', sans-serif;
    color: #dcdcdc;
}
.sliderbg {
    width:200px;
    color: white;
    background-color: #1e2020d8;
    margin: 20px 20px 20px 20px;
    border-radius: 4px;
}

@media only screen and (max-width: 1200px) {
    .sliderbg {
        width: 18vw !important
    }
}