
.Title{
    color: white;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 50px;

}
.firstInfo{
    color:rgb(45, 226, 21);
    margin-bottom: 20px;
}
.container{
    margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
  background-color: #666666;
  padding: 2rem;
  box-shadow: 1px 1px 30px rgb(5, 5, 5);
  border-radius: 0.5rem;
}
.CardTop{
    display: grid;
    
    grid-template-columns: 120px 100px 200px 50px ;
    margin: 0 225px 25px 55px;
    
    
}

.CardTop h2{
    
    color: #2ecc36;
    
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.514);
    font-family: "Share Tech", sans-serif;  
}
.Card{
    
    
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: 1rem;
    border-radius: 0.5rem;
    color: white;  
    background-color: #424242;
    box-shadow: 1px 1px 10px rgb(45, 226, 21);
    font-family: "Share Tech", sans-serif;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
   
    
    
}

.cardbtn{
    color: #2ecc36;
    background-color: black;
    width: 100px;
    height: 45px;
    border-radius: 0.5rem;    
    font-family: "Share Tech", sans-serif;
    font-size: larger;
    
}
.cardbtn:hover{

   box-shadow: 0 0 15px #2ecc36;
}
.productDiv{
    border-radius: 0.5rem;
    display: flex;   
    align-items: center;
    justify-content: space-between; 
    background-color: #666666;
    box-shadow: 0 0 15px black;
    margin-bottom: 30px;
    
}
.productDiv img{
    border-radius: 0.5rem;
    width: 200px    ;
    height: 200px;
}
.productDivinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn{
    margin-top: 20px;
    margin-right: 25px;
  background-color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  height: 50px;
  width: 100px;
  font-family: "Share Tech", sans-serif;  
  color: #2ecc36;
}