.container{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    background-color: #666666;
    padding: 2rem;
    box-shadow: 1px 1px 30px rgb(5, 5, 5);
    border-radius: 0.5rem;
}
.Card{
    display: grid;
    grid-template-columns: 110px 50px 230px 100px 500px;
    grid-auto-rows: auto;
    margin: 1rem;
    border-radius: 0.5rem;
    color: white;  
    background-color: #424242;
    box-shadow: 1px 1px 10px rgb(45, 226, 21);
    font-family: "Share Tech", sans-serif;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info{
    font-family: "Share Tech", sans-serif;
    margin: 30px 5px 10px 5px;
    
}
.DelBtn{
    margin-top: 20px;
    margin-left: 25px;
  background-color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  height: 50px;
  width: 50px;
  font-family: "Share Tech", sans-serif;  
  color: #2ecc36;
}
.DelBtn:hover{
    box-shadow: 1px 1px 25px red inset;
  color: red;
}
.CardTop{
    display: grid;
    color: #2ecc36;
    grid-template-columns: 85px 180px 200px 100px ;
    margin: 0 225px 25px 130px;
    font-family: "Share Tech", sans-serif; 

}
.CardTop h2{
   
    color: #2ecc36;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.514);
    font-family: "Share Tech", sans-serif; 

}
.DelBtnr{
    font-size: 40px;
    margin-left: 5px;
    
    color: red;
}