.container{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    background-color: #666666;
    padding: 2rem;
    box-shadow: 1px 1px 30px rgb(5, 5, 5);
    border-radius: 0.5rem;
}
.title{
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: "Share Tech", sans-serif;  
    font-weight: 700;    
    justify-content: center;
    padding: 30px;
    height: 100px;
}
.littleinfo{
    text-align: center;    
    font-family: "Share Tech", sans-serif;  
    font-size: 15px;
    margin-bottom: 100px;
}
.info{

    text-align:start;    
    font-family: "Share Tech", sans-serif;  
    font-size: 25px;
    margin: 20px 0px 20px 0px;
}
.infocontainer{
    margin: 30px 0px 30px 25px;
}
.divListItem{
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between; 
    
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: #424242;
    box-shadow: 1px 1px 10px rgb(45, 226, 21);
    font-family: "Share Tech", sans-serif;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;   
}
.billingInfo{
    margin-left: 100px;   
}
.billingText{
    font-size: larger;
    font-family: "Share Tech", sans-serif;  
    text-align: end;
}
.itemText{
    font-size: x-large;
    font-family: "Share Tech", sans-serif;  
    
}
.image{
    width: 120px;
    height: 120px;
}
.totalPrice{
    text-align: end;
    font-size: 40px;
    font-family: "Share Tech", sans-serif;  
    padding: 25px;
}
.itemcont{
    height: 100%;
    width: 450px;
}
.ModBtn{
    background-color: rgba(230, 64, 64, 0);
    font-family: 'Cantarell', sans-serif;
    border-color: rgba(240, 248, 255, 0);
    font-size: 25px;
    
}
.ModBtn:hover{
    color: rgba(104, 245, 39, 0.747);    
    font-family: 'Cantarell', sans-serif;
    transform: scale(1.2);
}
.orderState{
    display: flex;
    flex-direction: row;
    


}
.option{
    font-family: "Share Tech", sans-serif;  
    height: 30px;
    width: 150px;
    border-radius: 5px;

}
.select{
   
    font-family: "Share Tech", sans-serif;  
    text-align: center;
    height:30px;
    width: 150px;
    margin: 20px 5px 20px 20px;
    border-radius: 2px;
    background-color: rgb(234, 253, 234);

}